/*.text {
    font: color blue;
    background-color: orange;
    opacity: 0.8;
}
*/

.container {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    
    
    
    
    
}

button {
    color: rgb(13, 133, 133);
    border:peru;
    font-size:150%;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(148, 235, 148);
    
}

header {
    display: flex;
    justify-content: space-evenly;
    
    
    height: 50%;
    
}

.button1 {
    color: rgb(123, 105, 187);
    width: 400px;
    background-color:rgb(209, 218, 193);
    cursor: pointer;
    height: 100px;
    
    
}

.button2 {
    color: rgb(212, 52, 212);
    width:400px;
    background-color: rgb(209, 218, 193);
    cursor: pointer;
    height:100px;
}

.button3 {
    color: rgb(30, 146, 146);
    width: 400px;
    background-color: rgb(209, 218, 193);
    cursor:pointer;
    height:100px;
}

.game {
    
}

.button:hover {
    background-color: rgb(104, 206, 138);
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    height: 5vh;
    flex-direction: row;
    font-family: 'JetBrains Mono', monospace;    

}

/*.flex {
    background-color: rgb(155, 214, 155);
}
*/
h2 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'JetBrains Mono', monospace;
}

button:hover {
    background-color:rgb(120, 231, 226);
}



/*.text {
    background-color: rgb(155, 214, 155);
    height: 50vh;
    width: 1000vh;
    margin-top: 0%;
}
*/

@media only screen and (max-width: 415px) {
  body {
    background-color: lightblue;
  }
}


body {
    background-color: rgb(203, 231, 220);
}

.head2 {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    
}

.images {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
}


img {
    height: 10vh;
}