
/*body {
    background-color: olive;
}


.container {
    margin: 0 auto;
    margin-top: 20%;
    width:50%;
    background-color: rgb(78, 78, 31);
    display: flex;
    justify-content: center;

}

.cta {
    border-radius: 5px;
    height: 50px;
    width: 98px;
    cursor: pointer;

}

/* 2. */
.myDiv {
    background-color: #ffb3ff;
}



#mySubHeader {
    background-color: #ccfff5;
    border-style: 3px solid black;
   
}

